/* a minimalist set of CSS resets */

/* default to border-box */

html {
  box-sizing: border-box;
  font-size: 16px;
  
}

div {
  padding: 14px;
}
footer ul{
  list-style-type:none;
}
.edu-au-vic-wa-nt-hand-googlefont {
  font-family: "Edu AU VIC WA NT Hand", serif;
  font-optical-sizing: auto;
  font-weight: 10px;
  font-style: normal;
  background-color: #262526;
}

.navbar-collapse a:hover {
  background-color: #f0a5c0;
  border-color: #ffffff;
  transform: scale(1.1);
  
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
.links {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.links a {
  display: inline-block;
  width: 120px;
  height: 120px;
  background-color: #262526;
  border: 2px solid #f0f0f0;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  color: white;
  font-size: 30px;
  transition: all 0.3s ease;
  padding: 10px;
}
.links a:hover {
  background-color: #f0a5c0;
  border-color: #ffffff;
  transform: scale(1.1);
}
/* adjust typography defaults */
body {
  margin: 1rem;
  line-height: 1.5;
  background-color: #262526;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

nav {
  display: inline;
  position:fixed !important;
  top:0%;
  left:0%;
  width:100%;
  height:70px;
  z-index:2;
  
  
}

.descriptionImage {
  height: 400px;
  width: 70%;
}

.recent {
  background-color: #9ed7ff;
}

.header {
  background-color: #9ed7ff;
  text-align: center;
  margin: 5px;
  margin-top:80px;
  border: 3px dashed #fc5bcf;
  padding: 7px;
 position: relative;
  color: #252839;
  animation-name: stretch  ;
  animation-duration: 6s;
  animation-timing-function:ease-out;
  animation-direction: alternate;
  
}

  
.header3 {
  background-color: #9ed7ff;
  border: 3px dashed #fc5bcf;
}

.purpose {
  border: 3px solid #fc5bcf;
  padding: 30px;
  background-color: #9ed7ff;
  margin: 10px;
}

.purpose2 {
  border: 3px dashed #fc5bcf;
  padding: 20px;
  background-color: #9ed7ff;
  text-align: center;
  margin: 10px;
}

.foot {
  margin-left: 50px;
  list-style-type: none;
}

.footersection {
  background-color: #9ed7ff;
  border: 3px solid #fc5bcf;
  margin: 5px;
  list-style-type: none;
  height: 500px;
  line-height: 19px;
}

.btn,
.btn-light {
  color: white;
}

/*recipes*/

.found-recipe {
  display: none;
  text-align: center;
}
#added-ingredients {
  color: white;
}
#recipe-title {
  text-align: center;
  color: white;
}

.input-container {
  text-align: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

footer button {
  width: 80px;
  height: 40px;
  list-style-type: none;
}
input {
  width: 80%;
  margin: auto;
  height: 40px;
}
table th{
  border: 3px solid #fc5bcf;
  padding: 30px;
  background-color: #9ed7ff !important;
  margin: 10px;
}
.buttons {
  display: flex;
  width: 30%;
  justify-content: space-around;
}
.directions {
  color: white;
  margin-top: 60px;
}

.imguz {
  height: 200px;
  width: 200px;
}
.pacbody {
  background: lightgray;
}
.hi {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

/* Styles for the About Page */
.jBio {
  color: white !important;
}

.about-page .jBio {
  color: white !important;
}

.about-page .pac {
  background-color: white;
}

.about-page .imguz {
  height: 400px;
  width: 350px;
}

.container {
  border: 3px solid #fc5bcf;
}

.card-title {
  text-align: center;
  color: white;
  font-family: Garamond, serif;
}

.card {
  margin: 20px;
  border-radius: 25px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 3px solid #fc5bcf;
  padding: 30px;
  background-color: #9ed7ff;
  margin: 10px;
}

.card-text {
  font-weight: bold;
  font-size: 20px;
  font-family: cursive;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}
.card-img-top {
  height: 200px;
  object-fit: contain;
  margin: auto;
}
footer .btn {
  width: 200px !important;
  list-style-type: none;  
}
.card-body .btn {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 70%);
}
.store-card {
  height: 720px;
}

.store-card .card-title {
  color: black;
}
.button-2 {
  transform: translate(-50%, -50%) !important;
}
.my-4 {
  color: white;
}

.my-5 {
  color: white;
}

.form-control {
  width: 50% !important;
}
